<nav class="navbar navbar-dark bg-primary navbar-expang-lc">

    <div class="container">
        <a href="http://localhost:3000/" class="navbar-brand">BlogApp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="http://localhost:3000/blogs" class="nav-link">Blog List</a>
            </li>
        </ul>

    </div>
</nav>